# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Cubemap/.vs/
Cubemap/x64/
Progetto/.vs/
Progetto/Slenderman/resources/backpack/ao.jpg
Progetto/Slenderman/resources/backpack/backpack.mtl
Progetto/Slenderman/resources/backpack/diffuse.jpg
Progetto/Slenderman/resources/backpack/normal.png
Progetto/Slenderman/resources/backpack/roughness.jpg
Progetto/Slenderman/resources/backpack/source_attribution.txt
Progetto/Slenderman/resources/backpack/specular.jpg
