# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Cubemap/.vs/
Cubemap/x64/
Progetto/.vs/
Progetto/Slenderman/resources/backpack/ao.jpg
Progetto/Slenderman/resources/backpack/backpack.mtl
Progetto/Slenderman/resources/backpack/diffuse.jpg
Progetto/Slenderman/resources/backpack/normal.png
Progetto/Slenderman/resources/backpack/roughness.jpg
Progetto/Slenderman/resources/backpack/source_attribution.txt
Progetto/Slenderman/resources/backpack/specular.jpg
Progetto/Release/
Progetto/Debug/Slenderman.pdb
Progetto/Slenderman/Release/Slenderman.exe.recipe
Progetto/Slenderman/Release/Slenderman.iobj
Progetto/Slenderman/Release/Slenderman.ipdb
Progetto/Slenderman/Release/Slenderman.log
Progetto/Slenderman/Release/vc142.pdb
Progetto/Slenderman/Release/Slenderman.tlog/CL.command.1.tlog
Progetto/Slenderman/Release/Slenderman.tlog/CL.read.1.tlog
Progetto/Slenderman/Release/Slenderman.tlog/CL.write.1.tlog
Progetto/Slenderman/Release/Slenderman.tlog/link.command.1.tlog
Progetto/Slenderman/Release/Slenderman.tlog/link.read.1.tlog
Progetto/Slenderman/Release/Slenderman.tlog/link.write.1.tlog
Progetto/Slenderman/Release/Slenderman.tlog/Slenderman.lastbuildstate
Progetto/Slenderman/Debug/Slenderman.exe.recipe
Progetto/Slenderman/Debug/Slenderman.ilk
Progetto/Slenderman/Debug/Slenderman.log
Progetto/Slenderman/Debug/vc142.idb
Progetto/Slenderman/Debug/vc142.pdb
Progetto/Slenderman/Debug/Slenderman.tlog/CL.command.1.tlog
Progetto/Slenderman/Debug/Slenderman.tlog/CL.read.1.tlog
Progetto/Slenderman/Debug/Slenderman.tlog/CL.write.1.tlog
Progetto/Slenderman/Debug/Slenderman.tlog/link.command.1.tlog
Progetto/Slenderman/Debug/Slenderman.tlog/link.read.1.tlog
Progetto/Slenderman/Debug/Slenderman.tlog/link.write.1.tlog
Progetto/Slenderman/Debug/Slenderman.tlog/Slenderman.lastbuildstate
*.zip
Progetto/Slenderman/x64/
Progetto/x64/
Progetto/Slenderman/Release/glad.obj
Progetto/Slenderman/Release/main.obj
Progetto/Slenderman/Debug/glad.obj
Progetto/Slenderman/Debug/main.obj
